/* for image fit */

img,
embed,
object,
video {
    /*max-width: 100%;*/
    width: 100%;
}

.emoji{
    width: Auto;
}

blockquote,
twitterwidget {
    /*data-width: "100%";*/
    align-content: center;
}
