<button class="anchor"><i class="fa
    <!--fa-list-alt-->
    fa-indent
"></i></button>
<div class="right">
    <div class="wrap">

        <!-- Content -->
        <div class="side content">
            <div>
                Content
            </div>
            <ul id="content-side" class="content-ul">
                {% if hasSimilar.size > 0 %}
                <li><a href="#similar_posts">Similar Posts</a></li>
                {% endif %}
                <li><a href="#comments">Comments</a></li>
            </ul>
        </div>
        <!-- The other div boxes are placed here -->
        <!-- <div class="side">bbbb</div> -->
    </div>
</div>
