<!-- GCS Content -->
<div class="side">
    <div>
        Search here
        
        <div>
            <script>
              (function () {
                var cx = '009700740666935720925:fhlw1x9cueq';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox></gcse:searchbox>
            
            <gcse:searchresults></gcse:searchresults>
        
        </div>
    
    </div>
</div>

