<!--<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>-->
<!--<link rel="stylesheet" type="text/css" href="static-social-buttons.css">-->


<!--E-mail-->
<!--Copy permalink-->
<!--Tweet-->
<!--Facebook-->
<!--Linkedin-->
<!--Pin it-->
<!--Stumble upon-->
<!--Digg-->
<!--Hackernews-->
<!--WhatsApp-->

{% comment %}
<div class="share-button-container">
    <p>Share the love!</p>
    <div class="socialbutton-wrapper">
        
        {% for item in site.data.share_bar %}
        
        <a target="_blank" href="{{ item.share_link }}{{ page.url | prepend: site.url | cgi_escape }}">
            <div class="socialbutton {{ item.css_class }}" data-share-url="https://ufo2mstar.github.io/">
                <p class="icon">
                    <i class="fa fa-{{ item.css_class }}" aria-hidden="true"></i>
                </p>
                
                <p class="shares">
                    {% if item.message %}
                    {{ item.message }}
                    {% else %}
                    0
                    {% endif %}
                </p>
            </div>
        </a>
        
        {% endfor %}
    </div>
</div>
{% endcomment %}

<div class="share_div">
    <!-- /.addthis_div -->
    <div class="addthis_inline_share_toolbox"></div>
    
    <div class="sharethis-inline-reaction-buttons"></div>
</div>

<!--<div class="share-button-container">-->
<!--<div class="addthis_inline_share_toolbox"></div>-->
<!--</div>-->


<!--<div class="share-button-container">-->
<!--&lt;!&ndash;<p>Like it? Share it!</p>&ndash;&gt;-->
<!---->
<!--<div class="socialbutton-wrapper">-->
<!--<a href="https://twitter.com/share?url=https://ufo2mstar.github.io/&via=Xafke">-->
<!--<div class="socialbutton twitter" data-share-url="https://ufo2mstar.github.io/">-->
<!--<p class="icon">-->
<!--&lt;!&ndash;<img src='{{ "assets/img/icon-twitter.png| prepend: site.url }}'">&ndash;&gt;-->
<!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
<!--</p>-->
<!---->
<!--&lt;!&ndash;<p class="txt">Tweet!</p>&ndash;&gt;-->
<!--<p class="shares">Tweet!</p>-->
<!--</div>-->
<!--</a>-->
<!---->
<!--<a class="socialbutton facebook" href="{{ site.share_facebook }}{{ page.url | prepend: site.url | cgi_escape }}" target="_blank">-->
<!--<i class="fa fa-facebook" aria-hidden="true"> </i>-->
<!--</a>-->
<!---->
<!---->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u=https://ufo2mstar.github.io/">-->
<!--<div class="socialbutton facebook" data-share-url="https://ufo2mstar.github.io/">-->
<!--<p class="icon">-->
<!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
<!--</p>-->
<!--<p class="shares">F-Share</p>-->
<!--</div>-->
<!--</a>-->
<!---->
<!---->
<!--<a href="http://www.reddit.com/submit?url=https://ufo2mstar.github.io/">-->
<!--<div class="socialbutton reddit">-->
<!--<p class="icon">-->
<!--<i class="fa fa-reddit" aria-hidden="true"></i>-->
<!--</p>-->
<!--<p class="shares">0</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<script type="text/javascript" src="static-social-buttons.js"></script>&ndash;&gt;-->


<!--&lt;!&ndash;E-mail&ndash;&gt;-->
<!--&lt;!&ndash;Copy permalink&ndash;&gt;-->
<!--&lt;!&ndash;Tweet&ndash;&gt;-->
<!--&lt;!&ndash;Facebook&ndash;&gt;-->
<!--&lt;!&ndash;Linkedin&ndash;&gt;-->
<!--&lt;!&ndash;Pin it&ndash;&gt;-->
<!--&lt;!&ndash;Stumble upon&ndash;&gt;-->
<!--&lt;!&ndash;Digg&ndash;&gt;-->
<!--&lt;!&ndash;Hackernews&ndash;&gt;-->
<!--&lt;!&ndash;WhatsApp&ndash;&gt;-->


<!--<div class="share-button-container">-->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fexample.com%2F"-->
<!--class="share-button facebook"-->
<!--target="_blank">Share on Facebook</a>-->
<!---->
<!---->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fexample.com%2F"-->
<!--class="share-button facebook"-->
<!--target="_blank">-->
<!--<svg fill="#000000"-->
<!--height="24"-->
<!--viewBox="0 0 24 24"-->
<!--width="24"-->
<!--xmlns="http://www.w3.org/2000/svg">-->
<!--<path d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"/>-->
<!--</svg>-->
<!--Share on Facebook</a>-->
<!---->
<!---->
<!--<a class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}" target="_blank"> </a>-->
<!---->
<!---->
<!--<a class="share-button socialbutton facebook" href="{{ site.share_facebook }}{{ page.url | prepend: site.url | cgi_escape }}" target="_blank">-->
<!--<i class="fa fa-facebook" aria-hidden="true"> </i>-->
<!--</a>-->

<!--</div>-->