<!DOCTYPE html>
<html class="dark">

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}

    <!--<script src='{{ " /js/jquery-1.11.1.js " | prepend: site.baseurl }}' charset="utf-8"></script>-->
    <!--<script src='{{ " /js/bootstrap.min.js " | prepend: site.baseurl }}' charset="utf-8"></script>-->

    <!-- CDNing jquery for now..-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!--<script type="text/javascript" src='{{ "/js/static-social-buttons.js" | prepend: site.url }}'></script>-->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a25a5911f896ba0"></script>

    <!--&lt;!&ndash; Go to www.addthis.com/dashboard to customize your tools &ndash;&gt;-->
    <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a25a5911f896ba0"></script>-->

     <!--Go to www.addthis.com/dashboard to customize your tools -->
    <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a25ae5353e9a3dc"></script>-->


    <script src='{{ "/js/main.js" | prepend: site.url }}' charset="utf-8"></script>
    <script src='{{ "/js/smooth-scroll.min.js" | prepend: site.url }}' charset="utf-8"></script>
    
    <!-- fellow developers are the best! -->
    <script src='{{ "/js/jquery.fitvids.js" | prepend: site.url }}' charset="utf-8"></script>

    <script type="text/javascript">
        $('iframe[src*="youtu"]').parent().fitVids();
//        $('iframe[src*="drive.google"]').parent().fitVids();
//        $("#vid").fitVids();
//        $("#vid").fitVids({ customSelector: "iframe[src^='https://drive.google.com']"});
        $("*").fitVids({ customSelector: "iframe[src^='https://drive.google.com']"});
//        $("*").fitVids({ customSelector: "img[src^='https://lh3.googleusercontent.com']"});

    </script>
    
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
  </body>

</html>
