<!DOCTYPE html>
<html class="dark">

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}

    <!--<script src='{{ " /js/jquery-1.11.1.js " | prepend: site.baseurl }}' charset="utf-8"></script>-->
    <!--<script src='{{ " /js/bootstrap.min.js " | prepend: site.baseurl }}' charset="utf-8"></script>-->

    <script src='{{ "/js/main.js" | prepend: site.url }}' charset="utf-8"></script>
    <script src='{{ "/js/smooth-scroll.min.js" | prepend: site.url }}' charset="utf-8"></script>
    
    <!-- fellow developers are the best! -->
    <script src='{{ "/js/jquery.fitvids.js" | prepend: site.url }}' charset="utf-8"></script>

    <script type="text/javascript">
        $('iframe[src*="youtu"]').parent().fitVids();
//        $('iframe[src*="drive.google"]').parent().fitVids();
//        $("#vid").fitVids();
        $("#vid").fitVids({ customSelector: "iframe[src^='https://drive.google.com']"});

    </script>
    
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
  </body>

</html>
